
@mixin tablet {
    @media screen and (min-width: $tablet){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop){
        @content;
    }
}

@mixin font-montserrat-bold {
    font-family: $font-montserrat;
    font-weight: bold;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin btn-hover {
    color: #7F6D78;
    background-color: #D2CDD2;
    font-weight: bold;
}

@mixin clear {
    clear: both;
}