
@import "reset";
@import "variables";
@import "mixines";
@import "sections/sections";
@import "components/components";

.container {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}

@include tablet {
  .container{
    min-width: $tablet;
    margin: 0 auto;
  }
}

@include desktop{
  .container{
    min-width: $desktop;
    max-width: 1200px;
    margin: 0 auto;
  }
}

